@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Slate300: hsl(212, 45%, 89%);
    --Slate500: hsl(216, 15%, 48%);
    --Slate900: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: var(--Slate300);
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

.container {
    width: 100%;
    max-width: 20rem;
    background-color: var(--White);
    padding: 1rem;
    border-radius: 1.25rem;
    text-align: center;
}

img {
    width: 100%;
    max-width: 18rem;
    height: auto;
    border-radius: 0.625rem;
    display: block;
    margin-bottom: 1.5rem;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.4;
    color: var(--Slate900);
    margin-bottom: 1rem;
    padding: 0 0.5rem;
}

p {
    font-size: 15px;
    font-weight: 400;
    color: var(--Slate500);
    line-height: 1.4;
    padding: 0 0.5rem 1.5rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--Slate500);
    margin-top: 2rem;
}

.attribution a {
    color: var(--Slate500);
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}

/* Mobile-first responsive design */
@media (min-width: 376px) {
    .container {
        padding: 1.5rem;
    }
    
    h2 {
        font-size: 1.375rem;
        margin-bottom: 1rem;
    }
}
